.navbar{
    position: fixed;
    float: right;
    right:0;
    width: 80vw;
}


.sidebar {
    position: fixed;
    left: 0;
    display: block;
    height: 100vh;
    overflow: scroll initial;
}


.CDBSidebar {
    color: #fff;
    background-color: #333;

}

.CDBSidebarFooter {
    text-align: center;
}

.sidebar-btn-wrapper {
    padding: 20px 5px;
}

.graph-container {
    position: fixed;
    left: 0;
    margin-left: 22vw;
    margin-top: 10vh;
    height: 85vh;
    width: 60vw;
    border: 2px solid red;
}

.graphs {
    border: 1px solid blue;
    width: 45%; 
    height: 45%;
    position: absolute;
}

.graph1 {
    left: 3.3%;
    top: 3.3%
}

.graph2 {
    right: 3.3%;
    top: 3.3%;
}

.graph3 {
    left: 3.3%;
    bottom: 3.3%;
    width: 93%;
}