.pageBody {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}

.navbar{
    background-color: #EAEAEA;
    text-align: right;
    position: fixed;
    float: right;
    right:0;
    width: 85vw;
}

.navbar-brand {
 color: red;
}

.sidebar {
    background-color: #EAEAEA;
    position: fixed;
    max-width: 15vw;
    min-width: 10vw;
    left: 0;
    display: block;
    height: 100vh;
    overflow: scroll initial;
}

.sidebar h2 {
    text-align: center;
    border-bottom: 3px solid black;
    
}

.sidebar Button {
    background-color: #00004D;
    margin: 10%;
    width: 80%;
}




.graph-container {
    position: fixed;
    left: 0;
    margin-left: 20vw;
    margin-top: 5vh;
    height: 90vh;
    width: 75vw;
}

.graphs {
    background-color: #FCFBFB;
    width: 45%; 
    height: 45%;
    position: absolute;
}

.graph1 {
    left: 3.3%;
    top: 3.3%
}

.graph2 {
    right: 3.3%;
    top: 3.3%;
}

.graph3 {
    left: 3.3%;
    bottom: 3.3%;
    width: 93%;
}

.graph-title {
    padding-left: 10px;
    height: 30px;
    color: white;
    background-color: #00004D;
}